@import "swiper/css";
@import "swiper/css/navigation";
/* @import "swiper/css/pagination"; */
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";
@import "swiper/css/effect-creative";

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.c-pointer {
  cursor: pointer;
}
li.monthdate.current_date {
  background: rgb(2, 84, 139);
  color: rgb(255, 255, 255) !important;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: 0.8s 1s ease;
  z-index: 666;
}
.loader-wrapper .loder-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background: #111;
  z-index: 89;
}
.meanmenu-reveal {
  text-align: center;
  text-indent: 0px !important;
  font-size: 18px !important;
}
.landing_header nav.consen_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.home-about-img{
border-radius: 3rem !important;
}

.brands_logo{
  width: 141px;
  height: 80px;
  
}

.brands_logo img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.services-images{
  height: 450px;
  width: 650px;
  overflow: hidden;
}

.services-images img{
  height: auto;
  width: 100%;
  object-fit: cover;
}

.plots-images{
  height: 13rem;
  width: 18rem;
  margin: auto;
}

.project-images{
  height: auto;
  width: 100%;
}

.plots-images img,.project-images img{
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .plots-images{
    height: 15rem ;
    width: 21rem ;
}
.services-images{
  height: 300px;
  width: 400px;

}
.banner-buttons {
  flex-direction: column;
}
}
@media only screen and (max-width: 398px) {
  .plots-images{
    height: 12rem ;
    width: 15rem ;
}
.services-images{
  height: 200px;
  width: 295px;
  margin: auto;
}
.accordion li a span:after{
  width: 35%;
}
}

@media (min-width: 992px) and (max-width: 1199px)  {
  .plots-images{
    height: 10rem;
    width: 15rem;
}
.services-images{
  height: 410px;
  width: 600px;
}
}

@media  (min-width: 768px) and (max-width: 991px){
  .plots-images{
    height: 13rem;
    width: 17rem;
  }
  .services-images{
    height: 450px;
    width: 650px;
    margin: auto;
  }
}



.gallery-container {
  padding: 2rem;
  column-count: 3;
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .gallery-container {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    column-count: 2;
    max-width: 85%;
  }
}

@media (max-width: 426px) {
  .gallery-container {
    column-count: 1;
    max-width: 90%;
  }
}


.journey-swiper{
overflow: visible !important;
}

.journey-swiper .swiper-pagination{
top: -70px !important;
display: flex;
justify-content: space-around;
}

/* .journey-swiper .swiper-pagination .swiper-pagination-bullet::before{
 content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
  }
    } */

    .journey-swiper .swiper-pagination-bullet {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px; /* Adjust font size as needed */
      font-weight: bold;
      color: #ffff; /* Adjust text color as needed */
      opacity: 0.9;
    }
    
    .journey-swiper .swiper-pagination-bullet::before {
      content: '';
      position: absolute;
      bottom: -15px;
      width:10px; /* Adjust line length */
      height: 10px; /* Adjust line thickness */
      background-color: #ccc; /* Adjust line color */
     border-radius: 50%; 

    }

    .journey-swiper .swiper-pagination-bullet:hover {
     
      color: #34bd6b;
      font-size: 20px;
    }

    
    .journey-swiper .swiper-pagination-bullet-active {
     
      color: #34bd6b;
      width: 0;
      height: 0;
      border-radius: 0;
      font-size: 20px;
    }
    
    .journey-swiper .swiper-pagination-bullet-active::before{
      content: ''!important;
      position: absolute;
      bottom: -20px !important;
      width:10px; /* Adjust line length */
      height: 10px; /* Adjust line thickness */
      background-color: #34bd6b; /* Adjust line color */
     border-radius: 50%;
    }

    .active-slide-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
    
    .active-slide-description p {
      font-size: 1.5rem;
      font-weight: 900;
      color: #34bd6b;
      margin-top: 10px;
      
    }
    .swiper-wrapper{
      z-index: 100 !important;
    }
@media screen and (min-width: 769px) {
  
  .journey-header{
    position: relative;
    top: -80px !important;
    text-align: center;
    padding: 5px;
  }
  .active-slide-description {
    margin-top: 1rem;
  }
  .journey-swiper .swiper-slide-active{
    transform: scale(1.1) !important;
    z-index: 101;
    transition: transform 0.8s ease, z-index 0.6s ease;
  }
}

.journey-header{
  position: relative;
  top: -30px;
  text-align: center;
  padding: 5px;
  font-size: 6rem !important;
}

.journey-space{
  height: 5rem;
  background-color: #ffff;
}

.swiper-button-next, .swiper-button-prev{
z-index: 1000 !important;
color: #ffff !important;
top: var(--swiper-navigation-top-offset, 33%) !important;
}

.swiper-pagination::before{
  border-bottom: 1px solid #fff;

  content: "";
  opacity: 54%;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
 top:36px;
}
