@import "swiper/css";
@import "swiper/css/navigation";
/* @import "swiper/css/pagination"; */
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";
@import "swiper/css/effect-creative";

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.c-pointer {
  cursor: pointer;
}
li.monthdate.current_date {
  background: rgb(2, 84, 139);
  color: rgb(255, 255, 255) !important;
}
.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transition: 0.8s 1s ease;
  z-index: 666;
}
.loader-wrapper .loder-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background: #111;
  z-index: 89;
}
.meanmenu-reveal {
  text-align: center;
  text-indent: 0px !important;
  font-size: 18px !important;
}
.landing_header nav.consen_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.home-about-img{
border-radius: 3rem !important;
}

.brands_logo{
  width: 141px;
  height: 80px;
  
}

.brands_logo img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.services-images{
  height: 450px;
  width: 650px;
}

.services-images img{
  height: auto;
  width: 100%;
}

.plots-images{
  height: 13rem;
  width: 18rem;
  margin: auto;
}

.plots-images img{
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .plots-images{
    height: 15rem ;
    width: 21rem ;
}
.services-images{
  height: 300px;
  width: 400px;

}
}
@media only screen and (max-width: 398px) {
  .plots-images{
    height: 12rem ;
    width: 15rem ;
}
.services-images{
  height: 200px;
  width: 295px;
  margin: auto;
}
}

@media (min-width: 992px) and (max-width: 1199px)  {
  .plots-images{
    height: 10rem;
    width: 15rem;
}
.services-images{
  height: 410px;
  width: 600px;
}
}

@media  (min-width: 768px) and (max-width: 991px){
  .plots-images{
    height: 13rem;
    width: 17rem;
  }
  .services-images{
    height: 450px;
    width: 650px;
    margin: auto;
  }
}